/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 100px auto;
    
}



h1 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label {
    font-weight: bold;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    border: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

td.status {
    cursor: pointer;
}

button {
    padding: 6px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
/* Styles pour les différentes couleurs du statut */
td.status[status="en attente"] {
    color: orange;
}

td.status[status="en cours"] {
    color: green;
}

td.status[status="terminé"] {
    color: red;
}



